.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  color: white;
  padding: 10px 20px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px; /* Adjust the spacing between links */
}

.navLink:hover {
  color: white;
  background-color: rgb(255, 156, 80);
  padding: 10px;
}

.navLink:first-child {
  margin-left: 0; /* Remove margin for the first link */
}

.navMenu {
  display: flex;
}

.navMenuRight {
  margin-left: auto;
}
